<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Filter Candidates</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!-- HEADER -->
<div class="header">
    <h1>Candidate Screening & Ranking System</h1>
    <p>Filter Candidates</p>
</div>

<!-- FORM -->
<div class="form-box">

    <span class="badge">Smart Filter</span>

    <h2>🎯 Filter Candidates</h2>

    <form method="POST" action="/filter">

        <!-- ACADEMIC -->
        <h3>Academic Criteria</h3>
        <input type="number" step="0.01" name="min_class10" placeholder="Minimum Class 10 %" required>
        <input type="number" step="0.01" name="min_class12" placeholder="Minimum Class 12 %" required>
        <input type="number" step="0.01" name="min_cgpa" placeholder="Minimum CGPA" required>


        <h3>💼 Skills & Experience Criteria</h3>
        <input type="number" name="min_projects" placeholder="Minimum Projects" required>
        <input type="number" name="min_hackathons" placeholder="Minimum Hackathons" required>

        <select name="winner_required" required>
            <option value="no">Hackathon Winner Not Required</option>
            <option value="yes">Must Be Hackathon Winner</option>
        </select>

        <input type="number" step="0.01" name="min_coding_score" placeholder="Minimum Coding Score" required>
        <input type="text" name="skills" placeholder="Required Skills (e.g. python, sql)" required>
        <input type="text" name="min_exp" placeholder="Minimum Experience (e.g. 2 years / NA)" required>

        <!-- COMPANY LEVEL -->
        <h3>🏢 Target Hiring Tier</h3>
        <select name="company_level" required>
            <option value="" disabled selected>Select Company Tier</option>
            <option value="easy">Service-Based (TCS, Wipro, Infosys)</option>
            <option value="medium">Mid-Level Product (Capgemini, Cognizant)</option>
            <option value="hard">Top Product (Google, Microsoft, Amazon)</option>
        </select>

        <!-- SUBMIT -->
        <button type="submit" class="btn">🚀 Apply Filter</button>

    </form>

</div>

<!-- BACK BUTTON -->
<a href="/" class="back-home">⬅ Back to Dashboard</a>

</body>
</html>
